.rooms {
  .sub-child-title {
    font-size: 10px;
    font-family: "Helvetica", Arial, sans-serif;
    letter-spacing: 5px;
    color: #010F2A;
    text-transform: uppercase;
    margin-top: 18px;
  }

  .categories-wrapper {
    padding: 20px;
    background-color: white;

    .special-cards {
      .card {
        background-color: white;
        margin: 0 auto;
        margin-bottom: 30px;
        text-align: left;
        display: flex;

        img {
          height: 300px;
          width: 40%;
        }

        p {
          letter-spacing: .1px;
          font-size: 13px;
          color: #010F2A;
          word-wrap: break-word;
          margin-bottom: 13px;
          margin-top: 10px;
          text-align: left;
          line-height: 1.8;
          padding-right: 25px;
        }

        .title {
          font-size: 22px;
          font-style: italic;
          color: #010F2A;
          margin-top: 10px;
          width: 95%;
        }

        .info-wrapper {
          width: 55%;
          padding-left: 20px;

        }

        .value {
          width: 15%;
          margin-top: 2%;
        }

        .read-more {
          border-color: #B5A191;
          background: #B5A191;
          color: #fff;
          height: 30px;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }

  .galery {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 11;
    background-color: grey;

    .app-content-slider {
      img {
        width: 60% !important;
        padding: 80px;
      }
    }

    .close {
      background-color: white;
      float: right;
      position: absolute;
      width: 44px;
      height: 20px;
      border-radius: 2px;
      z-index: 12;
      cursor: pointer;
      margin-top:20px;
      margin-left: 20px
    }
  }

  @media only screen and (max-width: 1040px) {
    .galery {
      height: 90%;
    }
  }
}



